/* ----------------------------------
 * Buttons
 * ---------------------------------- */

.button::-moz-focus-inner,
[role="button"]::-moz-focus-inner,
button::-moz-focus-inner {
  border: none;
  outline: none;
  /*margin-top: -0.2rem;*/ /* To fix line-height bug (697451) */
}

button,
[role="button"],
.button {
  font-family: sans-serif;
  font-style: italic;
  width: 100%;
  height: 4rem;
  margin: 0 0 1rem;
  padding: 0 1.5rem;
  -moz-box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background: #f4f4f4;
  border: none;
  border-radius: 0.8rem / 2rem;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 4rem;
  color: #333;
  text-align: center;
  text-decoration: none;
  outline: none;
}

/* Press (default & recommend) */
button:active,
[role="button"]:active,
button.recommend:active,
a.recommend[role="button"]:active  {
  background: #b2f2ff;
  color: #fff;
}

/* Recommend */
button.recommend,
[role="button"].recommend {
  background-color: #00caf2;
  color: #fff;
}

/* Danger */
button.danger,
.danger[role="button"] {
  background-color: #e51e1e;
  color: #fff;
}

/* Danger Press */
button.danger:active,
[role="button"].danger:active,
.button.danger:active {
  background-color: #b2f2ff;
}

/* Disabled */
button[disabled],
[role="button"][aria-disabled="true"],
.button[aria-disabled="true"] {
  opacity: 0.6;
  background-color: #f4f4f4;
  color: rgba(51,51,51,0.5);
  pointer-events: none;
}

/* Danger disabled */
button[disabled].danger,
.button[aria-disabled="true"].danger,
[role="button"][aria-disabled="true"].danger {
  background-color: #e51e1e;
  color: #fff;
}

/* Disabled with dark background */
.dark button[disabled],
.dark .button[aria-disabled="true"],
.dark [role="button"][aria-disabled="true"] {
  background: #5f5f5f;
  color: #c7c7c7;
  pointer-events: none;
}

/* Danger disabled */
.dark button[disabled].danger,
.dark .button[aria-disabled="true"].danger,
.dark [role="button"][aria-disabled="true"].danger {
  opacity: 0.4;
  background-color: #e51e1e;
  color: #fff;
}


/* ----------------------------------
 * Buttons inside lists
 * ---------------------------------- */

li button,
li [role="button"],
li .button {
  position: relative;
  text-align: left;
  /* For hacking box-shadows we need overflow:visible; so we lose text-overflows...*/
  white-space: normal;
  overflow: visible;
}

/* Press */
li [role="button"]:active:after,
li .button:active:after,
li button:active:after {
  opacity: 0;
}

/* Disabled */
li button[disabled]:after,
li [role="button"][aria-disabled="true"]:after,
li .button[aria-disabled="true"]:after {
  background: none;
}

/* Icons */
li button.icon,
li [role="button"].icon,
li .button.icon {
  padding-right: 3rem;
}

li button.icon:before,
li [role="button"].icon:before,
li .button.icon:before {
  content: "";
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -1.5rem;
  background: transparent no-repeat center center / 100% auto;
  pointer-events: none;
}

li button.icon-view:before,
li [role="button"].icon-view:before {
  width: 0;
  height: 0;
  top: 2.7rem;
  right: 1rem;
  border-top: 0.7rem solid transparent;
  border-bottom: 0.7rem solid transparent;
  border-left: 0.7rem solid rgba(0,170,204,0.4);
}

li button.icon-view:active:before,
li [role="button"].icon-view:active:before {
  border-left: 0.7rem solid rgba(0,170,204,0.4);
}

li button.icon-view:disabled:before,
li [role="button"][aria-disabled="true"].icon-view:before {
  border-left: 0.7rem solid rgba(51,51,51,0.5);
}

li button.icon-dialog,
li [role="button"].icon-dialog,
li .button.icon-dialog,
select {
  font-size: 2rem;
  width: auto;
  color: #00aacc;
  border-radius: 0;
  background: none;
  font-style: normal;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

li button.icon-dialog:before,
li [role="button"].icon-dialog:before,
li .button.icon-dialog:before,
select {
  width: 0;
  height: 0;
  top: 3.2rem;
  right: 1rem;
  border-top: 0.7rem solid transparent;
  border-bottom: 0.7rem solid transparent;
  border-left: 0.7rem solid rgba(0,170,204,0.4);
  transform: rotate(45deg);
}

li button.icon-dialog:disabled,
li [role="button"][aria-disabled="true"].icon-dialog,
li .button[aria-disabled="true"].icon-dialog,
select {
  color: rgba(51,51,51,0.5);
}

li button.icon-dialog:disabled:before,
li [role="button"][aria-disabled="true"].icon-dialog:before,
li .button[aria-disabled="true"].icon-dialog:before,
select:before {
  border-left: 0.7rem solid rgba(51,51,51,0.5);
}

/* ----------------------------------
 * Theme: Dark
 * ---------------------------------- */
.dark li button,
.dark li [role="button"],
.dark li .button {
  background-color: rgba(51,51,51,0.5);
  color: #fff;
}

.dark li button,
.dark li [role="button"],
.dark li .button {
  background-color: rgba(82,82,82,0.6);
  color: #fff;
}

.dark li button.icon-dialog,
.dark li [role="button"].icon-dialog,
.dark li .button.icon-dialog,
.dark select {
  background: none;
}

.dark li button.icon-view:before,
.dark li [role="button"].icon-view:before {
  border-left: 0.7rem solid #c7c7c7;
}

.dark li button.icon-dialog:before,
.dark li [role="button"].icon-dialog:before,
.dark li .button.icon-dialog:before,
.dark select {
  border-left: 0.7rem solid #c7c7c7;
}

.dark li button:disabled,
.dark li [role="button"][aria-disabled="true"],
.dark li .button[aria-disabled="true"],
.dark select {
  color: #c7c7c7;
}

li button.icon-dialog:disabled:before,
li [role="button"][aria-disabled="true"].icon-dialog:before,
li .button[aria-disabled="true"].icon-dialog:before,
select:before {
  border-left: 0.7rem solid #c7c7c7;
}

/* ----------------------------------
 * Theme: Organic
 * ---------------------------------- */
.dark li button,
.dark li [role="button"],
.dark li .button {
  background-color: rgba(51,51,51,0.5);
  color: #fff;
}

/* ----------------------------------
 * Buttons inside lists, compact mode
 * ---------------------------------- */

ul.compact,
ol.compact {
  padding: 0 1.5rem 1.5rem 1.5rem;
}

ul.compact li,
ol.compact li {
  padding: 1.5rem 0 0.5rem 0;
  border-bottom: solid #bdbdbd 0.1rem;
  display: block;
  overflow: hidden;
}

ul.compact li label,
ol.compact li label {
  padding: 0 1.5rem 1rem 1.5rem;
  color: #333;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.8rem;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Inputs inside of .button */
.button input,
body[role="application"] .button input {
  border: 0;
  background: none;
}

/* Hides dropdown arrow until bug #649849 is fixed */
.button.icon select {
   width: 130%;
}

select {}