/* ----------------------------------
* Input areas
* ---------------------------------- */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
input[type="number"],
textarea {
  font-family: sans-serif;
  -moz-box-sizing: border-box;
  display: block;
  width: 100%;
  height: 4rem;
  resize: none;
  padding: 0 1.2rem;
  font-size: 1.6rem;
  line-height: 4rem;
  border: 0;
  border-bottom: 0.1rem solid #d7dee4;
  border-radius: 0;
  box-shadow: none; /* override the box-shadow from the system (performance issue) */
  color: #333;
  background: url(input_areas/images/ui/input.png) no-repeat bottom left,
    url(input_areas/images/ui/input.png) no-repeat bottom right;
  background-color: transparent;
  background-size: 0.1rem 1.2rem;
  margin-bottom: 1.5rem;
}

textarea {
  height: 10rem;
  max-height: 10rem;
  line-height: 2rem;
  margin: 0;
}

input:focus,
textarea:focus {
  border-color: #00aacc;
  background-image: url(input_areas/images/ui/input_focus.png),
    url(input_areas/images/ui/input_focus.png);
}

/* fix for required inputs with wrong or empty value e.g. [type=email] */
input:invalid,
textarea:invalid {
  border-color: #820000;
  background-image: url(input_areas/images/ui/input_invalid.png),
    url(input_areas/images/ui/input_invalid.png);
  color: #b90000;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #a6a6a6;
  opacity: 1;
  font-style: italic;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #858585;
  opacity: 1;
}

form p {
  position: relative;
  margin: 0;
}

form p + p {
  margin-top: 1rem;
}

form p input + button[type="reset"],
form p textarea + button[type="reset"] {
  position: absolute;
  top: 0;
  right: 0;
  width: 4rem;
  height: 3.7rem;
  padding: 0;
  border: none;
  font-size: 0;
  opacity: 0;
  pointer-events: none;
  background: url(input_areas/images/icons/clear.png) no-repeat center / 1.7rem;
}

form[role="search"] p input + button[type="reset"],
form[role="search"] p textarea + button[type="reset"] {
  background-color: #f4f4f4;
}

form.skin-dark p input + button[type="reset"],
form.skin-dark p textarea + button[type="reset"] {
  background-color: #333;
  background-image: url(input_areas/images/icons/clear-dark.png);
}

/* To avoid colission with BB butons */
li input + button[type="reset"]:after,
li textarea + button[type="reset"]:after {
  background: none;
}

form p input + button[type="reset"],
form p textarea + button[type="reset"] {
  top: 0;
  margin: 0;
}

textarea {
  padding: 1.2rem;
}

form p input:focus {
  padding-right: 3rem;
}

form p input:focus + button[type="reset"],
form p textarea:focus + button[type="reset"] {
  opacity: 1;
  pointer-events: all;
}

/* Fieldset */
fieldset {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 2rem;
  line-height: 1em;
  background: none;
}

fieldset + fieldset {
  margin-top: 1.5rem;
}

fieldset legend {
  font-family: sans-serif;
  padding: 1rem 0 2rem 1.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 2rem;
  color: #00aacc;
}
/*
fieldset legend.action {
  background: url(input_areas/images/icons/arrow.png) no-repeat 100% 100% / 1.2rem;
}

fieldset legend:active {
  background-color: #008caa;
  text-shadow: 0.1rem 0.1rem 0 rgba(255,255,255,.3);
}

fieldset section input[type="text"],
fieldset section input[type="password"],
fieldset section input[type="email"],
fieldset section input[type="tel"],
fieldset section input[type="search"],
fieldset section input[type="number"],
fieldset section textarea {
  height: 4rem;
  border: none;
  border-radius: 0;
  background: none;
}

fieldset section {
  display: block;
  border-left: 0.1rem solid #ddd;
  border-radius: 0 0.3rem 0.3rem 0;
  overflow: hidden;
  margin-left: 9.5rem;
}

fieldset section p {
  margin: 0;
  border-bottom: 0.1rem solid #ddd;
}

fieldset section p:last-child {
  border-bottom: none;
}*/

/* Tidy (search/submit) */
form[role="search"] {
  position: relative;
  height: 3.7rem;
  background: #f4f4f4;
}

form[role="search"].skin-dark {
  background: #333;
}

form[role="search"].skin-dark p:before {
  background-image: url(input_areas/images/icons/search-dark.png);
}

form[role="search"] p {
  padding: 0 1.5rem 0 3rem;
  overflow: hidden;
  position: relative;
}

form[role="search"] p:before {
  content: "";
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  height: 1.6rem;
  width: 1.6rem;
  background: url(input_areas/images/icons/search.png) no-repeat;
  background-size: 1.6rem;
}

form[role="search"] p input,
form[role="search"] p textarea {
  height: 3.7rem;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

form[role="search"] p textarea {
  padding: 1rem 0 0 0;
}

form[role="search"] p input:focus {
  padding: 0 2rem 0 0;
}

form[role="search"] p input:invalid, 
form[role="search"] p textarea:invalid {
  border: none;
}

form[role="search"].skin-dark p input,
form[role="search"].skin-dark p textarea {
  color: #fff;
}

form[role="search"] p button[type="reset"] {
  right: 0;
}

form[role="search"] button[type="submit"] {
  float: right;
  min-width: 6rem;
  height: 3.7rem;
  padding: 0 1.5rem;
  border: none;
  color: #000;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 3.7rem;
  border-radius: 0;
  width: auto;
  border-radius: 0;
  margin: 0;
  position: relative;
  background: none;
}

form[role="search"] button[type="submit"]:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0.7rem;
  bottom: 0.7rem;
  width: 0.1rem;
  background: #c7c7c7;
}

form[role="search"].skin-dark button[type="submit"] {
  color: #fff;
}

form[role="search"].skin-dark button[type="submit"]:after {
  background-color: #575757;
}

form[role="search"] button[type="submit"] + p > textarea {
  height: 3.7rem;
  line-height: 2rem;
}

form[role="search"] button[type="submit"] + p button {
  height: 3.7rem;
}

form[role="search"].full button[type="submit"] {
  display: none;
}

form[role="search"] button.icon:active,
form[role="search"] button[type="submit"]:active {
  background: #008caa;
  text-shadow: 0.1rem 0.1rem 0 rgba(255,255,255,.3);
}

form[role="search"] button[type="submit"][disabled] {
  color: #adadad;
}

form button::-moz-focus-inner {
  border: none;
  outline: none;
  margin-top: -0.2rem; /* To fix line-height bug (697451) */
}

/******************************************************************************
 * Right-to-Left layout
 */

html[dir="rtl"] form p input:valid,
html[dir="rtl"] form p input:valid:focus {
  padding: 0 1.5rem 0 3rem;
}

html[dir="rtl"] form p input + button[type="reset"],
html[dir="rtl"] form p textarea + button[type="reset"] {
  right: auto;
  left: 0;
}

html[dir="rtl"] fieldset legend.action:after {
  margin: 0 0.5rem 0 0;
}

html[dir="rtl"] fieldset legend {
  padding: 0 1.5rem 0 0.5rem;
}

html[dir="rtl"] form[role="search"] p input {
  padding: 0;
}

html[dir="rtl"] form[role="search"] p input:focus {
  padding: 0 0 0 2rem;
}

html[dir="rtl"] form[role="search"] button[type="submit"] + p > button {
  left: 0;
}
